body {
	padding-top: 60px;
}

#top-navbar .input-group-bk {
	background-color: #eeeeee;
}

span.search-logo-box {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;
	height: 34px;
	display: table-cell;
	left: 3%;
	position: relative;
	width: 20%;
}

img.login-img {
	width: 36px;
	height: 30px;
}

span.site {
	font-size: 14px;
}

a.search-btn {
	color: #fff;
	background-color: #5cb85c;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	border: 1px solid #4cae4c;
	width: 1%;
	display: table-cell;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

a.box-btn {
	cursor: pointer;
}

a.box-btn:hover, a.box-btn:link, a.box-btn:visited {
	text-decoration: none;
}

a.login-btn {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;
	height: 34px;
	display: table-cell;
	left: 2%;
	position: relative;
	width: 10%;
}

@media ( max-width : 375px) {
	span.search-logo-box {
		padding-top: 1px;
		padding-bottom: 1px;
		padding-right: 1px;
		padding-left: 1px;
		height: 34px;
		display: table-cell;
		left: 0.5%;
		position: relative;
		width: 25%;
	}
	span.site {
		font-size: 9px;
	}
	a.login-btn {
		padding-top: 1px;
		padding-bottom: 1px;
		padding-right: 1px;
		padding-left: 1px;
		height: 34px;
		display: table-cell;
		left: 2%;
		position: relative;
		width: 15%;
	}
}

/* MovieDetail */
.top-margin {
	margin-top: 20px;
}

.no-padding-right {
	padding-right: 0px;
}


.movie-title-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tag-info {
	overflow: hidden;
	white-space: nowrap;
}

.movie-img {
	width: 210px;
	height: 270px;}

@media ( max-width : 375px) {
	.movie-left {
		padding-right: 10px;
		padding-left: 10px;
	}
	.movie-right {
		padding-right: 10px;
		padding-left: 10px;
		height: 310px;
	}
	.movie-img {
		width: 100%;
		height: 100%;
	}
}